#bid-login {
  background-color: #000000;
  .sign:hover {
    color: #c07600;
  }
  .forget:hover {
    color: rgb(255, 77, 77);
  }
  .login-main {
    width: 500px;
    /* height: 450px; */
    /* margin: auto; */
    background: #f0f0f0;
    border-radius: 15px;
  }

  .login-logo {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 220px;
  }

  .login-content {
    display: flex;
    flex-direction: column;
    padding: 33px 54px 53px 32px;
  }

  .login-sec {
    position: relative;
    background: url(/src//Images/login_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .login-btn {
    background: #f7b03e;
    border-radius: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /* line-height: 21px; */

    color: #ffffff;
    border: none;

    height: 48px;
    margin: 10px auto;
    padding: 11px 31px 11px 13px;
  }

  .login-head {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    /* line-height: 30px; */
    color: #000000;
    margin-bottom: 28px;
  }

  .login-content p {
    font-family: "Poppins";
    font-size: 18px;
    margin-top: 30px;
  }
  .sign {
    margin-left: 10px;
    color: #f7b03e;
    font-family: "Poppins";
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }

  .forget {
    font-family: "Poppins";
    text-decoration: none;
    color: red;
    /* margin-left: 10px; */
    font-size: 18px;
    font-weight: bold;
  }

  .login-content span {
    font-family: "Syne";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    /* line-height: 64px; */

    color: #787878;
  }

  .login-content input {
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    font-size: 18px;
    font-family: "Poppins";

    /* border: none; */
  }

  .login-name-span {
    margin: 0px 0px 5px 0px;
  }

  .login-name {
    margin: 0px 0px 10px 0px;
  }

  .login-email-span {
    margin: 0px 0px 5px 0px;
  }

  .login-email {
    margin: 0px 0px 10px 0px;
  }

  .login-pass-span {
    margin: 0px 0px 5px 0px;
  }

  .login-pass {
    margin: 0px 0px 10px 0px;
  }

  .login-cpass-span {
    margin: 0px 0px 5px 0px;
  }

  .login-cpass {
    margin: 0px 0px 10px 0px;
  }

  .login-content-sec {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 1024px) {
    .login-main {
      width: 300px;
      /* height: 300px; */
      margin-top: 20px;
    }

    .login-logo {
      width: 20%;
    }

    .login-content {
      padding: 15px;
    }

    .login-btn {
      font-size: 15px;
      padding: 0px 5px;
      height: 30px;
    }

    .login-head {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .login-content p {
      font-size: 15px;
      margin-top: 6px;
    }

    .login-content a {
      /* margin-left: 10px; */
      font-size: 15px;
    }

    .login-content span {
      font-size: 12px;
    }

    .login-content input {
      padding: 5px 8px;
      outline: none;
      font-size: 12px;
    }

    .login-name-span {
      margin: 0px 0px 5px 0px;
    }

    .login-name {
      margin: 0px 0px 10px 0px;
    }

    .login-email-span {
      margin: 0px 0px 5px 0px;
    }

    .login-email {
      margin: 0px 0px 10px 0px;
    }

    .login-pass-span {
      margin: 0px 0px 5px 0px;
    }

    .login-pass {
      margin: 0px 0px 10px 0px;
    }

    .login-cpass-span {
      margin: 0px 0px 5px 0px;
    }

    .login-cpass {
      margin: 0px 0px 10px 0px;
    }

    .login-content-sec {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media screen and (max-width: 600px) {
    .login-logo {
      width: 40%;
    }
  }
  @media screen and (max-width: 400px) {
    .login-logo {
      width: 50%;
    }
    .login-main {
      width: 250px;
      /* height: 300px; */
      margin-top: 20px;
    }
  }
}
